src/TicketManagementMVC/Connected Services/EventAreaService/EventAreaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfBusinessLogic.Core.Contracts.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfBusinessLogic.Core.Contracts.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EventArea">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaDefaultId" type="xs:int" />
      <xs:element minOccurs="0" name="CoordX" type="xs:int" />
      <xs:element minOccurs="0" name="CoordY" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Seats" nillable="true" type="tns:ArrayOfEventSeat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventArea" nillable="true" type="tns:EventArea" />
  <xs:complexType name="ArrayOfEventSeat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventSeat" nillable="true" type="tns:EventSeat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventSeat" nillable="true" type="tns:ArrayOfEventSeat" />
  <xs:complexType name="EventSeat">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventAreaId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Row" type="xs:int" />
      <xs:element minOccurs="0" name="State" type="tns:SeatState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventSeat" nillable="true" type="tns:EventSeat" />
  <xs:simpleType name="SeatState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Available" />
      <xs:enumeration value="Ordered" />
      <xs:enumeration value="Purchased" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SeatState" nillable="true" type="tns:SeatState" />
</xs:schema>