src/TicketManagementMVC/Connected Services/LayoutService/LayoutService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfBusinessLogic.Core.Contracts.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfBusinessLogic.Core.Contracts.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLayout">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Layout" nillable="true" type="tns:Layout" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLayout" nillable="true" type="tns:ArrayOfLayout" />
  <xs:complexType name="Layout">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaList" nillable="true" type="tns:ArrayOfArea" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="VenueId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Layout" nillable="true" type="tns:Layout" />
  <xs:complexType name="ArrayOfArea">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Area" nillable="true" type="tns:Area" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArea" nillable="true" type="tns:ArrayOfArea" />
  <xs:complexType name="Area">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoordX" type="xs:int" />
      <xs:element minOccurs="0" name="CoordY" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LayoutId" type="xs:int" />
      <xs:element minOccurs="0" name="SeatList" nillable="true" type="tns:ArrayOfSeat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Area" nillable="true" type="tns:Area" />
  <xs:complexType name="ArrayOfSeat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Seat" nillable="true" type="tns:Seat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeat" nillable="true" type="tns:ArrayOfSeat" />
  <xs:complexType name="Seat">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Row" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Seat" nillable="true" type="tns:Seat" />
</xs:schema>