src/TicketManagementMVC/Connected Services/LayoutService/LayoutService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59102/LayoutService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfBusinessLogic.Core.Contracts.Data" />
  <xs:element name="ToList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ToListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfBusinessLogic.Core.Contracts.Data" minOccurs="0" name="ToListResult" nillable="true" type="q1:ArrayOfLayout" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLayoutsByVenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="venueId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLayoutsByVenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfBusinessLogic.Core.Contracts.Data" minOccurs="0" name="GetLayoutsByVenueResult" nillable="true" type="q2:ArrayOfLayout" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>