src/TicketManagementMVC/Connected Services/EventService/EventService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfBusinessLogic.Core.Contracts.Data.BusinessModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfBusinessLogic.Core.Contracts.Data.BusinessModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59102/EventService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfBusinessLogic.Core.Contracts.Data" />
  <xs:complexType name="ArrayOfEventModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventModel" nillable="true" type="tns:EventModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventModel" nillable="true" type="tns:ArrayOfEventModel" />
  <xs:complexType name="EventModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfBusinessLogic.Core.Contracts.Data" minOccurs="0" name="Areas" nillable="true" type="q1:ArrayOfEventArea" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfBusinessLogic.Core.Contracts.Data" minOccurs="0" name="Event" nillable="true" type="q2:Event" />
      <xs:element minOccurs="0" name="IsPublished" type="xs:boolean" />
      <xs:element minOccurs="0" name="LayoutName" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfBusinessLogic.Core.Contracts.Data" minOccurs="0" name="Venue" nillable="true" type="q3:Venue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventModel" nillable="true" type="tns:EventModel" />
</xs:schema>