src/TicketManagementMVC/Connected Services/PurchaseService/PurchaseService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfBusinessLogic.Core.Contracts.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfBusinessLogic.Core.Contracts.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSeatBusinessModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SeatBusinessModel" nillable="true" type="tns:SeatBusinessModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeatBusinessModel" nillable="true" type="tns:ArrayOfSeatBusinessModel" />
  <xs:complexType name="SeatBusinessModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="tns:EventArea" />
      <xs:element minOccurs="0" name="Event" nillable="true" type="tns:Event" />
      <xs:element minOccurs="0" name="Layout" nillable="true" type="tns:Layout" />
      <xs:element minOccurs="0" name="Seat" nillable="true" type="tns:EventSeat" />
      <xs:element minOccurs="0" name="Venue" nillable="true" type="tns:Venue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeatBusinessModel" nillable="true" type="tns:SeatBusinessModel" />
  <xs:complexType name="EventArea">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaDefaultId" type="xs:int" />
      <xs:element minOccurs="0" name="CoordX" type="xs:int" />
      <xs:element minOccurs="0" name="CoordY" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Seats" nillable="true" type="tns:ArrayOfEventSeat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventArea" nillable="true" type="tns:EventArea" />
  <xs:complexType name="ArrayOfEventSeat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventSeat" nillable="true" type="tns:EventSeat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventSeat" nillable="true" type="tns:ArrayOfEventSeat" />
  <xs:complexType name="EventSeat">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventAreaId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Row" type="xs:int" />
      <xs:element minOccurs="0" name="State" type="tns:SeatState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventSeat" nillable="true" type="tns:EventSeat" />
  <xs:simpleType name="SeatState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Available" />
      <xs:enumeration value="Ordered" />
      <xs:enumeration value="Purchased" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SeatState" nillable="true" type="tns:SeatState" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LayoutId" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:complexType name="Layout">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaList" nillable="true" type="tns:ArrayOfArea" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="VenueId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Layout" nillable="true" type="tns:Layout" />
  <xs:complexType name="ArrayOfArea">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Area" nillable="true" type="tns:Area" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArea" nillable="true" type="tns:ArrayOfArea" />
  <xs:complexType name="Area">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoordX" type="xs:int" />
      <xs:element minOccurs="0" name="CoordY" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LayoutId" type="xs:int" />
      <xs:element minOccurs="0" name="SeatList" nillable="true" type="tns:ArrayOfSeat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Area" nillable="true" type="tns:Area" />
  <xs:complexType name="ArrayOfSeat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Seat" nillable="true" type="tns:Seat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeat" nillable="true" type="tns:ArrayOfSeat" />
  <xs:complexType name="Seat">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Row" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Seat" nillable="true" type="tns:Seat" />
  <xs:complexType name="Venue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LayoutList" nillable="true" type="tns:ArrayOfLayout" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameWithOffset" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timezone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Venue" nillable="true" type="tns:Venue" />
  <xs:complexType name="ArrayOfLayout">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Layout" nillable="true" type="tns:Layout" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLayout" nillable="true" type="tns:ArrayOfLayout" />
  <xs:complexType name="ArrayOfOrderBusinessModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderBusinessModel" nillable="true" type="tns:OrderBusinessModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderBusinessModel" nillable="true" type="tns:ArrayOfOrderBusinessModel" />
  <xs:complexType name="OrderBusinessModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:Order" />
      <xs:element minOccurs="0" name="PurchasedSeats" nillable="true" type="tns:ArrayOfSeatBusinessModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderBusinessModel" nillable="true" type="tns:OrderBusinessModel" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
</xs:schema>